.button.alternative {
  --color-hover: #2B3044;
  --background: #362A89;
  --hover-back: #6D58FF;
  --hover-front: #F6F8FF;
}
.button.simple {
  --background: #275EFE;
  --background-hover: #1749DB;
}

.button {
  --color: #fff;
  --color-hover: var(--color);
  --background: #00000000;
  --background-hover: var(--background);
  --hover-back: #6D58FF;
  --hover-front: #5C86FF;
  width: 250px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.02em;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  color: var(--c, var(--color));
  background: var(--b, var(--background));
  transition: color 0.2s linear var(--c-d, 0.2s), background 0.3s linear var(--b-d, 0.2s);
  margin: 0 10px;
}
.button:not(.simple):before, .button:not(.simple):after {
  content: "";
  position: absolute;
  background: var(--pb, var(--hover-back));
  top: 0;
  left: 0;
  right: 0;
  height: 200%;
  border-radius: var(--br, 40%);
  transform: translateY(var(--y, 50%));
  transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s);
}
.button:not(.simple):after {
  --pb: var(--hover-front);
  --d: .44s;
}
.button div {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}
.button div span {
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  animation: var(--name, none) 0.7s linear forwards 0.18s;
}
.button.in:not(.out) {
  --c: var(--color-hover);
  --b: var(--background-hover);
}
.button.in:not(.out):before, .button.in:not(.out):after {
  --y: 0;
  --br: 5%;
}
.button.in:not(.out):after {
  --br: 10%;
  --d-d: .02s;
}
.button.in.out:before {
  --d-d: .06s;
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(0, 0, 0, 0.7607843137);
  overflow: hidden;
  border-radius: 20px;
}
.error_active {
  display: block;
  border: red 4px solid;
  width: 500px;
  height: 150px;
  margin-left: -250px;
  margin-top: -75px;
  animation: error_open 0.4s ease-in;
}
.error_unactive {
  width: 0px;
  height: 0px;
  overflow: hidden;
  animation: error_close 0.2s ease-out;
}
.error__close {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.error__text {
  font-size: 17px;
  font-weight: 700;
  margin-top: 55px;
}

@keyframes error_open {
  0% {
    display: block;
    width: 0px;
    hegiht: 0px;
    margin: 0;
  }
  50% {
    width: 550px;
    height: 175px;
    margin-left: -275px;
    margin-top: -87.5px;
  }
  75% {
    width: 490px;
    height: 145px;
    margin-left: -245px;
    margin-top: -72.5px;
  }
  100% {
    width: 500px;
    height: 150px;
    margin-left: -250px;
    margin-top: -75px;
  }
}
@keyframes error_close {
  0% {
    width: 500px;
    height: 150px;
    margin-left: -250px;
    margin-top: -75px;
  }
  100% {
    width: 0px;
    height: 0px;
    margin: 0;
  }
}
.example .exit {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 60px;
  height: 40px;
  font-size: 22px;
  font-weight: 900;
}
.example h2 {
  font-size: 24px;
  margin-top: 40px;
}
.example__close {
  position: absolute;
  width: 35px;
  top: 17px;
  cursor: pointer;
}
.example .first_step {
  display: none;
}
.example .first_step_active {
  display: block;
}
.example .first_step div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.example .first_step select {
  margin-left: 20px;
  margin-top: 10px;
  transform: translateY(-11px);
}
.example .second_step {
  display: none;
  text-align: center;
}
.example .second_step_active {
  display: inline-block;
}
.example .second_step__table {
  margin: 0 auto;
}
.example .second_step__table input, .example .second_step__table th {
  width: 60px;
  height: 30px;
}
.example .second_step h3 {
  font-size: 16px;
  font-weight: 400;
  margin-left: -62px;
  transform: translateY(29px);
}
.example .third_step {
  display: none;
}
.example .third_step_active {
  display: inline-block;
}
.example .third_step .result {
  width: 1000px;
  height: 530px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 20px;
  overflow: auto;
}
.example .third_step .result table {
  margin: 20px;
}
.example .third_step .result table th {
  text-align: center;
  width: 50px;
  height: 30px;
  border: 1px solid #fff;
}
.example .third_step .result table span {
  background: red;
  color: #000;
}
.example .third_step .result #res, .example .third_step .result #preres {
  color: yellow;
  font-size: 20px;
  font-weight: 900;
}

html {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #323c49;
  text-align: center;
  color: white;
}

h1 {
  margin-top: 200px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  margin-bottom: 5%;
}

.second_step__storage, .second_step__table {
  display: inline-block;
  margin-left: 5px;
}
.second_step__storage input, .second_step__storage th, .second_step__table input, .second_step__table th {
  width: 60px;
  height: 30px;
}

.second_step__requirement {
  display: flex;
  margin-left: -101.5px;
}
.second_step__requirement input, .second_step__requirement th {
  width: 60px;
  height: 30px;
}
.second_step__requirement thead {
  margin-right: 5px;
}

.section_button {
  position: absolute;
  bottom: 50px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */